name: Global City Information

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT

jobs:
  build_on_pr:
    name: Build on PR
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install Dependencies
        run: bun install

      - name: Run ESLint
        run: bun run eslint

      - name: Build Project
        env:
          VITE_USER_POOL_ID: ${{ secrets.VITE_USER_POOL_ID }}
          VITE_CLIENT_ID: ${{ secrets.VITE_CLIENT_ID }}
          VITE_GOOGLE_MAPS_API_KEY: ${{ secrets.VITE_GOOGLE_MAPS_API_KEY }}
        run: bun run build

  deploy_dev:
    name: Build and Deploy to Dev on Merge to Main
    if: ${{ (github.ref == 'refs/heads/main' && github.event_name == 'push') || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    environment:
      name: Dev
      url: "https://d2u17pmw1fxael.cloudfront.net/"

    steps:
      - name: Check out repo code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::654654462173:role/GitHubActionsRole
          aws-region: us-east-1

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install Dependencies
        run: bun install

      - name: Run ESLint
        run: bun run eslint

      - name: Build Project
        env:
          VITE_USER_POOL_ID: ${{ secrets.VITE_USER_POOL_ID }}
          VITE_CLIENT_ID: ${{ secrets.VITE_CLIENT_ID }}
          VITE_GOOGLE_MAPS_API_KEY: ${{ secrets.VITE_GOOGLE_MAPS_API_KEY }}
        run: bun run build

      - name: Sync files to S3
        run: aws s3 sync dist s3://global-city-information --delete

      - name: Invalidate CloudFront Distribution
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"

  deploy_on_tag_prod:
    name: Build and Deploy to Prod on Tag
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    environment:
      name: Prod
      url: "https://d2u17pmw1fxael.cloudfront.net/"

    steps:
      - name: Check out repo code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::654654462173:role/GitHubActionsRole
          aws-region: us-east-1

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install Dependencies
        run: bun install

      - name: Run ESLint
        run: bun run eslint

      - name: Create .env.production file
        run: |
          echo "VITE_USER_POOL_ID=${{ secrets.VITE_USER_POOL_ID }}" > .env.production
          echo "VITE_CLIENT_ID=${{ secrets.VITE_CLIENT_ID }}" >> .env.production
          echo "VITE_GOOGLE_MAPS_API_KEY=${{ secrets.VITE_GOOGLE_MAPS_API_KEY }}" >> .env.production

      - name: Build Project
        run: bun run build

      - name: Sync files to S3
        run: aws s3 dist s3://global-city-information --delete

      - name: Invalidate CloudFront Distribution
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
